[Unit]
After=sysinit.target local-fs.target
{% if manage_thp_start_before_service is defined %}
Before={{ manage_thp_start_before_service }}.service
{% endif %}
DefaultDependencies=no
Description=Configure Transparent HugePage (THP) support

[Service]
{% if manage_thp_defrag_setting is defined %}
ExecStart=/bin/sh -c 'echo {{ manage_thp_defrag_setting }} > {{ manage_thp_defrag_path }}'
{% endif %}
ExecStart=/bin/sh -c 'echo {{ manage_thp_enabled_setting }} > {{ manage_thp_enabled_path }}'
Type=oneshot

[Install]
WantedBy=basic.target
